* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", Helvetica, "PingFang SC";
}

html, body {
    height: 100%;
}

body {
    overflow: hidden;
}

.v-modal {
    z-index: 100 !important;
}

.el-badge__content.is-fixed {
    border: none;
    height: 13px;
    font-size: 10px;
    line-height: 14px;
    padding: 0 4px;
}